body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For Firefox on macOS */
html {
  scrollbar-color: transparent transparent;
}